/* Importez la police de caractères Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

/* Styles globaux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: url('img/photo1.PNG') no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Fait en sorte que l'arrière-plan reste fixe */
}

/* Styles de l'en-tête */
.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    max-width: 1200px; /* Largeur maximale pour éviter les débordements */
    margin: 0 auto; /* Centre l'en-tête */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 50px;
    margin-right: 10px;
}

.navbar {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 20px; /* Espace entre les liens */
}

.navbar a:first-child {
    margin-left: 150px;
}

.navbar a {
    font-size: 16px;
    color: antiquewhite;
    font-weight: 500;
    text-decoration: none;
    position: relative;
}

.navbar a:hover {
    color: red; /* Change la couleur au survol */
    text-decoration: underline; /* Ajoute le soulignement au survol */
}

/* Transition fluide pour l'effet souligné */
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s ease;
}

.navbar a:hover::before {
    width: 100%; /* Fait apparaître le soulignement */
}

/* Styles de la section Bienvenue */
.welcome {
    text-align: center;
    color: #fff;
    margin-top: 150px;
    max-width: 80%; /* Largeur maximale pour éviter les débordements */
    margin-left: auto;
    margin-right: auto;
}

.welcome h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.welcome p {
    font-size: 24px;
    margin-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
}

/* Styles de la section Carousel */
.carousel {
    margin-top: 100px;
    margin-bottom: 50px;
    max-width: 90%; /* Largeur maximale pour éviter les débordements */
    margin-left: auto;
    margin-right: auto;
}

.carousel-title {
    text-align: center;
    margin-bottom: 20px;
}

.carousel-title h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Tu peux changer la couleur selon ton design */
}

.carousel-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajoutez auto-fit et minmax pour une grille flexible */
    gap: 30px; /* Espace entre les colonnes */
}

.carousel-inner img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Styles de la section Actualité */
.actualites {
    padding: 50px 0;
    background-color: #f4f4f4;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.actualites h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}

.actualites-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajoutez auto-fit et minmax pour une grille flexible */
    gap: 30px; /* Espace entre les colonnes */
}

.actualite {
    display: flex;
    flex-direction: column; /* Image au-dessus du texte */
    align-items: center;
    text-align: center;
}

.actualite-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    width: 300px;
}

.actualite-texte {
    margin-top: 15px; /* Espace entre l'image et le texte */
}

.actualite-texte h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.actualite-texte p {
    font-size: 16px;
    line-height: 1.5;
}

/* Styles du pied de page */
.footer {
    background-color: black;
    color: antiquewhite;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    max-width: 100%; /* Largeur maximale pour éviter les débordements */
}

.footer-content p {
    margin: 5px 0;
    display: inline-block;
    color: antiquewhite;
}

.footer a {
    color: white; /* Change la couleur du texte en blanc */
    text-decoration: none; /* Supprime le soulignement du lien */
}

.footer a:hover {
    color: red; /* Change la couleur du texte au survol */
    text-decoration: underline; /* Ajoute un soulignement au survol */
}

.footer-partners {
    margin-top: 20px;
}

.footer-partners h3 {
    font-size: 18px;
    color: antiquewhite;
    margin-bottom: 10px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espace entre chaque élément */
    flex-wrap: wrap; /* Permet de passer à la ligne si l’écran est trop étroit */
    text-align: center; /* Centre le texte pour chaque élément */
}

.footer-images {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espace entre les images */
    align-items: center;
    margin-top: 20px; /* Espace au-dessus des images */
}

.footer-sponsor {
    max-width: 150px; /* Ajustez la taille selon vos besoins */
    max-height: 200px;
}

.footer-content span {
    display: flex;
    align-items: center;
    color: antiquewhite;
}

.separator {
    border-left: 1px solid antiquewhite; /* Trait vertical */
    height: 20px;
    margin: 0 10px; /* Espacement autour du trait */
}

.partners-logos {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espace entre les logos */
    align-items: center;
    flex-wrap: wrap; /* Permet de passer à la ligne si l’écran est trop étroit */
}

.sponsor-logo {
    max-width: 100px;
    max-height: 50px;
    margin: 10px; /* Ajoute de l'espace autour de chaque logo */
    /* Ajuste les dimensions selon le besoin */
}